@font-face {
    font-family: 'Onder';
    /* Поднимаемся на уровень выше из css в корень, потом в Interface */
    src: url('../Interface/Fonts/ONDER-REGULAR.ttf') format('truetype');
}

:root {
    /* [ ЦВЕТОВАЯ ПАЛИТРА ] */
    --bg-deep:           #121214; 
    --panel-color:       #232426; 
    --sidebar-bg:        #121214; 
    --border-lines:      #3A3B3D; 
    --search-bg:         #303236; 
    --text-white:        #FFFFFF;
    --text-grey:         #a0a0a0;
    --accent-blue:       #0055FF;

    /* [ ИНТЕРАКТИВ (ТВОЙ ЗАПРОС: 100% актив, 50% ховер) ] */
    --active-btn:        #303236;
    --hover-bg:          rgba(48, 50, 54, 0.5); 

    /* [ РАЗМЕРЫ ПАНЕЛЕЙ ] */
    --header-h:          60px;   
    --player-h:          70px;   
    --sidebar-w:         240px;  

    /* [ НАСТРОЙКИ КОМПОНЕНТОВ ] */
    --logo-height: 40px; --logo-text-size: 10px; --logo-left-pad: 20px;    
    --ads-width: 500px; --ads-height: 300px; --ads-radius: 10px;   
    --ads-left-margin: 50px; --ads-top-margin: 50px; --ads-gap: 20px;
    --zoom-telegram: 1.0; --zoom-discord: 1.0;    
    --btn-width: 150px; --btn-height: 30px; --btn-bottom: 20px; --btn-font-size: 5px; --btn-radius: 5px;    
    --btn-bg-telegram: #279FDA; --btn-bg-discord: #0055FF; --btn-text-color: #FFFFFF;
    --profile-top-margin: 50px; --profile-ava-size: 100px; --profile-gap: 20px;
    --profile-text-size: 24px;

    --font-base: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
    margin: 0; padding: 0;
    font-family: var(--font-base);
    background-color: var(--bg-deep);
    color: var(--text-white);
    height: 100vh; overflow: hidden;
    display: flex; flex-direction: column;
}
img { display: block; max-width: 100%; }