@font-face {
    font-family: 'Onder';
    src: url('../Interface/Fonts/ONDER-REGULAR.ttf') format('truetype');
}

:root {
    /* [ 1. ЛОГОТИП ] */
    --logo-height:       40px;   
    --logo-text-size:    10px;   
    --logo-text-gap:     0px;    
    --logo-left-pad:     20px;   
    --logo-group-shift:  0px;    
    --click-expand-x:    0px;    
    --click-expand-y:    0px;    

    /* [ 2. РАЗМЕРЫ ПАНЕЛЕЙ ] */
    --header-h:          60px;   
    --player-h:          70px;   
    --sidebar-w:         240px;  

/* [ 3. КРЕДИТЫ (НАСТРОЙКА ОТСТУПОВ) ] */
    
    /* Шрифты */
    --credits-count-font:   'Inter', sans-serif;
    --credits-count-size:   15px; 
    --credits-count-weight: 700;

    --credits-label-font:   'Inter', sans-serif;
    --credits-label-size:   15px; 
    --credits-label-weight: 400;

    /* Расстояние (Сделал 8px и 6px, чтобы точно не слипалось) */
    --gap-plus-number:      10px;  /* Между Плюсом и Цифрой */
    --gap-number-label:     10px;   /* Между Цифрой и Текстом "credits" */  

    /* [ 4. РЕКЛАМНЫЕ БАННЕРЫ ] */
    --ads-width:         500px;  
    --ads-height:        300px;  
    --ads-radius:        10px;   
    --ads-left-margin:   50px;   
    --ads-top-margin:    50px;   
    --ads-gap:           20px;   
    
    --zoom-telegram:     1.0;    
    --zoom-discord:      1.0;    

    /* [ 5. КНОПКИ В БАННЕРАХ ] */
    --btn-width:         150px;  
    --btn-height:        30px;   
    --btn-bottom:        20px;   
    
    /* УМЕНЬШИЛ ШРИФТ КНОПКИ ДО 12px (было 15px), ЧТОБЫ ВЛЕЗАЛО */
    --btn-font-size:     5px;   
    --btn-radius:        5px;    
    
    --btn-bg-telegram:   #279FDA; 
    --btn-bg-discord:    #0055FF;
    --btn-text-color:    #FFFFFF; 

    /* [ 6. ЦВЕТА ] */
    --bg-deep:           #121214; 
    --panel-color:       #232426; 
    --sidebar-bg:        #121214; 
    --border-lines:      #3A3B3D; 
    --search-bg:         #303236; 
    --text-white:        #FFFFFF;
    --text-grey:         #a0a0a0;
    --hover-bg:          rgba(255, 255, 255, 0.05);
    --active-btn:        #303236;
    
    --font-base: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    
    /* [ 7. ПРОФИЛЬ ] */
    --profile-top-margin: 50px; 
    --profile-ava-size:   100px;
    --profile-gap:        20px;
    --profile-text-size:  24px;

}